.header {
  @apply bg-brandBlue;
  text-align: center;
  padding-top: 17.6rem;
  text-transform: uppercase;

  
}

.title {
  @apply text-white;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 7.9rem;
  @media screen and (max-width: 425px) {
    font-size: 4.5rem;
    line-height: 1.1;
  }
}