@font-face {
    font-family: 'Druk Wide Cyr';
    src: url('DrukWideCyr-Super.woff2') format('woff2'),
        url('DrukWideCyr-Super.woff') format('woff'),
        url('DrukWideCyr-Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide Cyr';
    src: url('DrukWideCyr-BoldItalic.woff2') format('woff2'),
        url('DrukWideCyr-BoldItalic.woff') format('woff'),
        url('DrukWideCyr-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide Cyr';
    src: url('DrukWideCyr-Medium.woff2') format('woff2'),
        url('DrukWideCyr-Medium.woff') format('woff'),
        url('DrukWideCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide Cyr';
    src: url('DrukWideCyr-Heavy.woff2') format('woff2'),
        url('DrukWideCyr-Heavy.woff') format('woff'),
        url('DrukWideCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide Cyr';
    src: url('DrukWideCyr-Bold.woff2') format('woff2'),
        url('DrukWideCyr-Bold.woff') format('woff'),
        url('DrukWideCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide Cyr';
    src: url('DrukWideCyr-MediumItalic.woff2') format('woff2'),
        url('DrukWideCyr-MediumItalic.woff') format('woff'),
        url('DrukWideCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide Cyr';
    src: url('DrukWideCyr-HeavyItalic.woff2') format('woff2'),
        url('DrukWideCyr-HeavyItalic.woff') format('woff'),
        url('DrukWideCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide Cyr';
    src: url('DrukWideCyr-SuperItalic.woff2') format('woff2'),
        url('DrukWideCyr-SuperItalic.woff') format('woff'),
        url('DrukWideCyr-SuperItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

