@import '/src/styles/colors';

.badgeWrapper {
    display: flex;
    align-items: center;

    & .userAvatar {
        display: flex;
        align-items: center;
        max-width:  4rem;
        max-height: 4rem;
        margin-right: 0.8rem;

        &>img {
            object-fit: cover;
            display: block;
        }
    }

    & .userName {
        margin-right: 0.8rem;
    }

    & .coinsWrapper {
        display: flex;
        align-items: center;
        background-color: $white8;
        border-radius: 100rem;
        padding: 0.4rem 0.8rem;

        &>img {
            display: block;
            width: 1.6rem;
            height: 1.6rem;
        }
    }

}