$white:#FFFFFF;
$white80:rgba(255, 255, 255, 0.8);
$white50:rgba(255, 255, 255, 0.5);
$white16:rgba(255, 255, 255, 0.16);
$white8:rgba(255, 255, 255, 0.08);
$black:#1F1F1F;
$black50:rgba(31, 31, 31, 0.5);
$black80:rgba(31, 31, 31, 0.8);
$black16:rgba(31, 31, 31, 0.16);
$black8:rgba(31, 31, 31, 0.08);
$barndPink:#E72978;
$brandBlue:#332784;
$lightBlue:#493BA8;
$errorRed:#DA4545;
$succesGreen:#51DA45;


// :export{
//     whiteColor:$white,
//     whiteColor80:$white80,
//     whiteColor50:$white16,
//     whiteColor16:$white8,
//     whiteColor8:$white,
//     whiteColor:$white,
//     whiteColor:$white,
//     whiteColor:$white,
// }