@import '/src/styles/colors';
.checkboxWrapper {
    display: flex;
    height: 2.2rem;
    margin-top: 3.2rem;
    margin-bottom: 3.4rem;
  
    & .chekboxText {
      margin-left: 1.1rem;
      font-weight: 500;
      font-size: 1.6rem;
      color: $white;
      line-height: 2.2rem;
  
      & a {
        text-decoration: underline;
        color: $white50;
      }
    }
  }

.buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white50;
  
    & .applyText {
      text-align: center;
      margin-top: 1.2rem;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.8rem;
      & a {
        text-decoration: underline;
      }
    }
  }