@use "src/styles/colors" as colors;

.tags {
  color: colors.$white;
  background-color: colors.$white8;
  padding: 1.6rem 3.1rem;
  width: 15.7rem;
  display: inline-flex;
  justify-content: center;
  border-radius: 1.6rem;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.checkedTag {
  background-color: colors.$white;
  color: colors.$black;
}

.datePicker {
  border: none !important;
  outline: none !important;

  & > div {
    & > * {
      color: colors.$white50 !important;
    }
  }
}

.select {
  width: 100%;
  margin-bottom: 2.4rem;

  & > div {
    border: none !important;
    outline: none !important;

    & input::placeholder {
      color: colors.$white50 !important;
    }

    & span {
      color: colors.$white50 !important;
    }
  }
}
