.partner {
  flex: 0 0 50%;
  width: 18rem;

  @media screen and (min-width: 640px) {
    flex: 0 0 19rem;
    width: 19rem;
  }
}

.partnersWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 424px) {
    justify-content: center;
  }

}