@use "src/styles/colors" as colors;

.form {
  label {
    position: relative;
    display: block;
    margin-bottom: 2.4rem !important;
    & > input {
      color: colors.$white50 !important;
      background-color: colors.$white8 !important;
      font-weight: 500 !important;
      font-size: 1.6rem !important;
      line-height: 2.16rem !important;
      padding: 2.4rem !important;
      border-radius: 1.6rem !important;
      width: 100% !important;
      border: none;

      &::placeholder {
        color: colors.$white50 !important;
      }
    }

    & > textarea {
      color: colors.$white50 !important;
      background-color: colors.$white8 !important;
      font-weight: 500 !important;
      font-size: 1.6rem !important;
      line-height: 2.16rem !important;
      padding: 2.4rem !important;
      border-radius: 1.6rem !important;
      width: 100% !important;
      height: 15rem;
      border: none;
    }
  }
}

.select {
  width: 100%;
  margin-bottom: 2.4rem;

  & > div {
    border: none !important;
  }
}

.labelTitle {
  font-weight: 500;
  font-size: 1.6rem;
  color: colors.$white;
  margin-bottom: 0.8rem;
  line-height: 2.16rem;
}

.error {
  position: absolute;
  bottom: -2rem;
  left: 1rem;
  font-size: 1.2rem;
  color: colors.$errorRed;
  font-weight: 500;
}

.submitBtn {
  color: colors.$white;
  background-color: colors.$brandPink !important;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.125rem;
  width: 100%;
  padding: 2.45rem 0;
  border-radius: 5rem;
}

.checkboxWrapper {
  display: flex;
  height: 2.2rem;
  margin-top: 3.2rem;
  margin-bottom: 3.4rem;

  & .chekboxText {
    margin-left: 1.1rem;
    font-weight: 500;
    font-size: 1.6rem;
    color: colors.$white;
    line-height: 2.2rem;

    & a {
      text-decoration: underline;
      color: colors.$white50;
    }
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: colors.$white50;

  & .applyText {
    text-align: center;
    margin-top: 1.2rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    & a {
      text-decoration: underline;
    }
  }
}
