@use '../../styles/_colors.scss' as colors;

.headingFooter {
  font-family: "Druk Wide Cyr";
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.3rem;
  letter-spacing: 0em;
  color: colors.$white;
  text-transform: uppercase;
  margin-bottom: 4rem;
  display: block;
}

.footerMenuTitle {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0em;
  color: colors.$white50;
  margin-bottom: 1.1rem;
}

.footerMenuItem {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1;
  color: colors.$white;
}