.container {
  display: grid;
  height: 50rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2rem;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
