@font-face {
    font-family: 'Druk XXCondensed Cyr Super';
    src: url('DrukXXCondensedCyrSuper-Italic.woff2') format('woff2'),
        url('DrukXXCondensedCyrSuper-Italic.woff') format('woff'),
        url('DrukXXCondensedCyrSuper-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Druk XCondensed Cyr Super';
    src: url('DrukXCondensedCyrSuper.woff2') format('woff2'),
        url('DrukXCondensedCyrSuper.woff') format('woff'),
        url('DrukXCondensedCyrSuper.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk XCondensed Cyr Super';
    src: url('DrukXCondensedCyrSuper-Italic.woff2') format('woff2'),
        url('DrukXCondensedCyrSuper-Italic.woff') format('woff'),
        url('DrukXCondensedCyrSuper-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Druk XXCondensed Cyr Super';
    src: url('DrukXXCondensedCyrSuper.woff2') format('woff2'),
        url('DrukXXCondensedCyrSuper.woff') format('woff'),
        url('DrukXXCondensedCyrSuper.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Condensed Cyr Super';
    src: url('DrukCondensedCyrSuper.woff2') format('woff2'),
        url('DrukCondensedCyrSuper.woff') format('woff'),
        url('DrukCondensedCyrSuper.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Condensed Cyr Super';
    src: url('DrukCondensedCyrSuper-Italic.woff2') format('woff2'),
        url('DrukCondensedCyrSuper-Italic.woff') format('woff'),
        url('DrukCondensedCyrSuper-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

