@use '../../styles/_colors.scss' as colors;

.ticker-wrapper {
  background-color: colors.$brandPink;
  overflow: hidden;
  height: 30rem;
  position: relative;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: 10rem;
  z-index: 990;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 2500px;
    height: 30rem;
    transform: translate(-100%, 0);
    margin-top: 10px;
  }

  $duration: 20s;

  .ticker-wrapper__first-half,
  .ticker-wrapper__second-half {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    animation: ticker $duration infinite linear forwards;
  }

  .ticker-wrapper__second-half {
    animation: $duration ticker $duration/2 infinite linear forwards;
  }

  @media screen and (max-width: '425px') {
    height: 20rem;
    margin-top: 0;

    div {
      height: 20rem;

      span {
        font-size: 25rem;
      }
    }
  }

  @media screen and (max-width: '1024px') {
    margin-top: 11rem;

  }


  @media screen and (max-width: '1980px') {
    margin-top: 8rem;

  }
}

.megaFontAfisha {
  font-family: "Druk XXCondensed Cyr Super";
  font-size: 35rem;
  font-weight: 900;
  color: colors.$brandBlue;
  transform: scaleX(2.8);
}

@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}


.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
  font-family: "Druk XXCondensed Cyr Super";
  font-size: 35rem;
  font-weight: 900;
  color: colors.$brandBlue;
  transform: scaleX(2.8);
}