.hederWrapper {
    display: flex;
    flex-direction: column;

    & .title {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.5rem;
        color: #fff;
    }

    & .body {
        display: flex;
        align-items: center;
        padding: 2.4rem 4rem;

        & .changeAvatar {
            width: 6.4rem;
            height: 6.4rem;
            margin-right: 4rem;
        }

        & .avatar {
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            overflow: hidden;


            & img {
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        & .removeAvatar {
            margin-left: 4rem;
            width: 6.4rem;
            height: 6.4rem;
        }
    }
}